<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXFw-2XM_Sn7CZq18XiUKB8Im_xUTJTc4</string>
	<key>GCM_SENDER_ID</key>
	<string>315733665633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carRentalApp</string>
	<key>PROJECT_ID</key>
	<string>car-rental-customer-5f198</string>
	<key>STORAGE_BUCKET</key>
	<string>car-rental-customer-5f198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315733665633:ios:01c90f3040d8c6af258720</string>
</dict>
</plist>